img {
    height: auto;
    width: 100%;
}

.center {
    text-align: center;
}

.font{
    font-family:Roboto;
}
.font_1 {
    font-family: 'Times New Roman';
}
hr{
    border: 1px solid grey;
}